.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: var(--padding-sm) var(--padding-4xl);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
}

.logo {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-lg);
  font-weight: 700;
  cursor: pointer;
}

.desktopOnly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 0;
}
.mobileOnly {
  display: flex;
  visibility: visible;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .navigation {
    padding: var(--padding-xs) var(--padding-lg);
  }

  .logo {
    font-size: var(--font-base);
  }
}
