.button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s, transform 0.2s;
}

.button:hover {
  background-color: #3b00e6;
  transform: scale(1.05);
}
