.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: var(--padding-sm) var(--padding-4xl);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
}

.logo {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-lg);
  font-weight: 700;
  cursor: pointer;
}

.navigationList {
  display: flex;
  gap: 1.8rem;
  list-style: none;
}

.navigationItem {
  font-size: var(--font-base);
  color: var(--dark-blue);
  font-weight: 700;
  position: relative;
}
.navigationItem a,
.arrowIcon {
  font-size: var(--font-base);
  cursor: pointer;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
  justify-content: space-between;
  min-width: max-content;
}

.navigationItem:hover .arrowIcon {
  color: var(--color-primary);
}

.navigationItem > i {
  font-size: var(--font-sm);
  background-color: var(--color-primary);
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  opacity: 0;
  visibility: hidden;
  padding: var(--padding-2xl) var(--padding-3xl);
  border-radius: 0.6rem;
  min-width: 280px;
  z-index: 100;
  list-style: none;
  transform: translateY(1.2rem);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.mobileSubmenu {
  padding: 0;
  height: 0;
  opacity: 0;
}

.active > .mobileSubmenu {
  padding: var(--padding-2xl) var(--padding-md);
  padding-bottom: 0;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -2.4rem; /* Adjust to match the gap */
  left: 0;
  width: 100%;
  height: 2.4rem;
  z-index: 101;
}

.desktopNavItem > .submenu {
  position: absolute;
  top: calc(100% + 2.6rem);
  left: -2.4rem;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.desktopNavItem:hover .submenu,
.navigationItem.active .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}

.mobileSubmenu {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  transition: max-height 0.3s ease-in, opacity 0.5s ease, padding-top 0.5s ease;
}

.mobileSubmenu.active {
  max-height: 500px; /* should be taller than tallest submenu */
}

.submenu li {
  font-size: var(--font-base);
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.submenu li:hover {
  transform: translateX(0.4rem);
}

.submenu li a {
  cursor: pointer;
  color: var(--dark-blue);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.submenu li a:hover {
  color: var(--color-primary);
}

.contactUsContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.mobileNav {
  display: flex;
  flex-direction: column;
}

.mobileNav > .navigationItem {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.4rem;
  justify-content: space-between;
}

.mobileNav ~ .contactUsContainer {
  flex-direction: column;
}

.mobileNav ~ .contactUsContainer > button {
  width: 100%;
}

.active {
  height: auto;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .navigationList {
    gap: 1.2rem;
  }

  .navigationItem {
    font-size: var(--font-sm);
  }

  .menuItem a {
    font-size: var(--font-sm);
  }
}

@media screen and (max-width: 768px) {
  .navigationList {
    gap: 1rem;
  }

  .navigationItem {
    font-size: var(--font-xs);
  }

  .menuItem a {
    font-size: var(--font-xs);
  }
}

@media screen and (max-width: 728px) {
  .submenu > li {
    white-space: normal;
  }
}
