.postContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-7xl);
  width: 100%;
  max-width: 55%;
  position: relative;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.metaItem {
  display: flex;
  justify-content: space-between;
}

.metaItem > span,
.date > span {
  color: #fff;
  font-size: var(--font-base);
}

.date {
  display: flex;
  align-items: center;
  gap: var(--gap-base);
}

.date > svg {
  color: #fff;
  font-size: var(--font-base);
}

.postHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6xl);
  background-color: var(--color-primary);
}

.postHeader {
  width: 100%;
  align-self: start;
}

.postHeader > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6xl);
  width: 100%;
  max-width: 55%;
}

.postTitle {
  text-align: center;
  color: #fff;
  font-size: var(--font-5xl);
}

.postImage {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  display: block;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xl);
  color: var(--dark-blue);
  line-height: 1.8;
}
