.footer {
  background-color: #f5f5f5;
}

.footerLinksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: var(--gap-8xl);
  width: 100%;
  justify-content: space-between;
}

.footerContent {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  padding-bottom: 1.8rem;
  gap: var(--gap-8xl);
}

.footerLinksGrid h4 {
  font-size: var(--font-base);
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 0.7rem;
}

.footerLinksGrid ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.footerLinksGrid a {
  color: #2a376d;
  text-decoration: none;
  font-size: var(--font-sm);
  transition: color 0.2s;
}

.footerLinksGrid a:hover {
  color: var(--color-primary);
}

.logo > h3 {
  color: var(--color-primary);
  font-size: var(--font-base);
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl) 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.socialsIcons {
  display: flex;
  gap: var(--gap-2xl);
}

.socialsIcons a {
  font-size: var(--font-xl);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrightLinks {
  display: flex;
  gap: var(--gap-2xl);
}

.copyrightLinks a,
.copyrightText p {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: var(--font-sm);
}

.facebookIcon {
  color: #1877f2;
}

.instagramIcon {
  color: #c32aa3;
}

.whatsappIcon {
  color: #25d366;
}

.linkedinIcon {
  color: #0077b5;
}

@media (max-width: 768px) {
  .footerContent {
    padding: var(--padding-3xl) var(--padding-xl);
    gap: var(--gap-4xl);
  }

  .socials {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-md);
  }

  .socialsIcons {
    gap: var(--gap-xl);
  }

  .copyright {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-sm);
  }

  .footerLinksGrid {
    gap: var(--gap-4xl);
  }
}
