/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 11. Custom properties */
:root {
  --color-primary: #4200ff;
  --dark-blue: #2a376d;
  --blue: #22223b
  --gray: #404040;
  --light-gray: #b0b0b0;
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 3.6rem 4.2rem 2.2rem 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary, #3b82f6);
  text-align: center;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--dark-blue, #2a376d);
  text-align: center;
}

.miracleIcon {
  font-size: 2.5rem;
  color: var(--color-primary, #3b82f6);
  margin-bottom: 1.1rem;
}

/* SWIPER */
.swiper {
  padding-bottom: 3.4rem !important;
  width: 100% !important;
  position: static !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-primary, #3b82f6) !important;
}

.swiper-button-prev {
  left: -3rem !important;
}

.swiper-button-next {
  right: -3rem !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.8rem !important;
}
